ul.patient-list {
  list-style-type: none;
  padding: 20px;
}

li.patient-item {
  border: 1px solid #7f7f7f;
  border-top: none;
  padding: 10px;
  &:first-child {
    border-top: 1px solid #7f7f7f;
  }
}
